@use './reset';
@use './editor';
@use './animation';
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

.active-link {
  // background-color: rgba(0, 0, 0, 0.1);
  background-color: rgb(229, 232, 255);
  border-radius: 0;
}
